
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff1d18;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fa4c4a;
  }
  
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  